@model BadmintonShop.Areas.Admin.Models.UserModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="card">

            @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <div class="card-action">
                        Đổi mật khẩu
                    </div>
                    <hr />
                    @*@Html.ValidationSummary(false, "", new { @class = "text-danger" })*@


                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control col-md-7 col-xs-12", @required = "true", @type = "password" })
                            <input type="hidden" name="Username" id="Username" value="@Session["Username"]" />
                            @*@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })*@
                            <div><span style="color:red;">@TempData["Error"]</span></div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(model => model.NewPassword, new {@id = "newpass", @class = "form-control col-md-7 col-xs-12", @required = "true", @type = "password", @pattern = "[a-zA-z1-9@#$%]{8,30}" })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(model => model.ConfirmPassword, new {@id = "confirm", @class = "form-control col-md-7 col-xs-12", @required = "true", @type = "password" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            <div><span style="color:red;">@TempData["Error2"]</span></div>
                        </div>
                    </div>
                    @*<script type="text/javascript">
                        function checkpass() {
                            var newpass = document.getElementById('newpass');
                            var confirm = document.getElementById('confirm');
                            if (newpass == confirm) return true;
                            alert("Mật khẩu xác nhận không trùng khớp");
                            return false;
                        }
                    </script>*@

                    <div class="clearfix"></div>
                    <div class="form-group">

                        <div class="col-md-offset-7 col-md-7 col-xs-12">
                            <input type="submit" value="Đổi mật khẩu" class="btn btn-success" onsubmit="checkpass()==true;" />
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

